<!-- head - start -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no" />
<title><%- title %></title>
<meta name="description" content="<%- description %>">
<!-- OGP共通項目 -->
<meta property="og:type" content="WEBsite">
<meta property="og:title" content="<%- title %>">
<meta property="og:url" content="<%- url %>">
<meta property="og:description" content="<%- description %>">
<meta property="og:image" content="http://www.sample.co.jp/img/og.jpg">
<meta property="og:site_name" content="">

<!-- Twitter用 -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter_name">
<meta name="twitter:title" content="<%- title %>">
<meta name="twitter:url" content="<%- url %>">
<meta name="twitter:description" content="<%- description %>">

<link rel="icon" href="http://www.sample.co.jp/img/favicon.png">
<link rel="apple-touch-icon" href="http://www.sample.co.jp/img/apple-touch-icon.png">
<link rel="stylesheet" href="/css/style.css">
<!-- head - end -->
